BasedOnStyle: Google
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterReturnType: AllDefinitions
BreakBeforeBinaryOperators: NonAssignment
BreakBinaryOperations: RespectPrecedence
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
IncludeBlocks: Preserve
AlignOperands: AlignAfterOperator
BreakBeforeTernaryOperators: true

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All

KeepEmptyLines:
  AtEndOfFile:     false
  AtStartOfBlock:  false
  AtStartOfFile:   false

SortUsingDeclarations: Never
